.card {
    padding: 1rem 1.5rem;
    width: 100%;
    overflow: hidden;
    margin-top: 1.5rem;
}

@media (min-width: 640px) {
    .card {
        max-width: 28rem; /* sm:max-w-md */
        border-radius: 0.375rem; /* sm:rounded-lg */
    }
}

.logo {
    fill: light-dark(var(--mantine-color-dark), var(--mantine-color-gray-4));
}
